.mobile-nav {
  display: none;
}

@media screen and (max-width: 1023px) {
  .mobile-nav {
    display: block;
    position: relative;
  }
  .navbar {
    display: none;
  }
  .nav-icon {
    position: absolute;
    right: 16px;
  }
  .closed {
    display: none;
  }
  .mobile-links {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 250px;
  }
  
}